{% if site.giscus and page.comments != false %}

<div class="giscus"></div>

<script src="https://giscus.app/client.js"
        data-repo="RiverOnVenus/blog"
        data-repo-id="MDEwOlJlcG9zaXRvcnkzNjA1MjczNTg="
        data-category="Announcements"
        data-category-id="DIC_kwDOFX01_s4B_DEB"
        data-mapping="title"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-theme="transparent_dark"
        crossorigin="anonymous"
        async>
</script>

{% endif %}
