<!-- <div class="empty_space"></div> -->
<nav class="mobile_menu">
   <ul class="nav_list">
      {% if site.user.about %}
      <li class="nav_item">
         <a href="{{ site.baseurl }}/about.html">about</a>
      </li>
      {% endif %}
      {% if site.user.key %}
      <li class="nav_item">
         <a href="https://github.com/riveronvenus.gpg">key</a>
      </li>
      {% endif %}
       {% if site.user.feed %}
         <li class="nav_item">
           <a href="{{ site.baseurl }}/feed.xml">feed</a>
         </li>
      {% endif %}
      {% if site.author.email %}
      <li class="nav_item">
         <a href="mailto:error@zhui.dev">email</a>
      </li>
      {% endif %}
       {% if site.user.search %}
         <li class="nav_item">
           <a href="{{ site.baseurl }}/search.html">search</a>
         </li>
      {% endif %}
      {% for category in site.categories %}
      {% capture cat_name %}{{ category | first }}{% endcapture %}
      <li class="nav_item">
         <a href="{{ site.baseurl }}/categories/{{ cat_name }}" id="aa">{{ cat_name }} ({{ category | last | size }})</a>
      </li>
      {% endfor %}
   </ul>
</nav>
