<!DOCTYPE html>
<html>
   {% include head.html %}
   <body>
      {% include snow.html %}
      <div class="content">
         {% include header.html %}
         {% include mobile_menu.html %}
         <main class="main">
            {{ content }}
         </main>
      </div>
      {% include js.html %}
      {% include card.html %}
      {% include footer.html %}

      <script>
    var links = document.querySelectorAll('a');
    links.forEach(function(link) {
        if (link.host !== window.location.host) {
            link.setAttribute('target', '_blank');
        }
    });
      </script>

   </body>
</html>
