<!DOCTYPE html>
<html>
   {% include head.html %}
   <body>
      {% include snow.html %}
      <div class="content">
         {% include header.html %}
         {% include mobile_menu.html %}
         <main class="main">
            {{ content }}
         </main>
      </div>
      {% include js.html %}
      {% include card.html %}
      {% include footer.html %}

      {% assign external_link = false %}
      {% assign link_href = page.url | absolute_url %}

      {% if link_href contains site.url %}
        {% assign external_link = false %}
      {% else %}
        {% assign external_link = true %}
      {% endif %}

      {% if external_link %}
        <a href="{{ page.url }}" class="external-link">{{ page.title | escape }}</a>
      {% else %}
        <a href="{{ page.url }}">{{ page.title | escape }}</a>
      {% endif %}
   </body>
</html>
